@media (max-width: 1350px) {
	div.cards {
		margin: 5% auto !important;
	}
	div.cards h1 {
		font-size: 32px !important;
	}
	img {
		height: 100px !important;
		width: 66px !important;
	}
}
@media (max-width: 1075px) {
	div.buttons {
		margin-top: 4% !important;
	}
	button {
		font-size: 14px !important;
	}
}
body {
	text-align: center;
	background-image: url('../img/background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Pacifico', cursive;
}
h1 {
	color: #fff;
	font-size: 40px;
}
div.cards {
	display: inline-block;
	height: 100px;
	width: 33%;
	margin: 10% auto;
}
div.dealer {
	float: right;
}
div.player {
	float: left;

}
.dealer img{
	margin-top: 10px;
	height: 150px;
	width: 100px;
	padding: 0 5px;
	float: left;
}
.player img {
	margin-top: 10px;
	height: 150px;
	width: 100px;
	padding: 0 5px;
	float: right;
}
div.buttons {
	margin-top: 28%;
}
button {
	box-shadow: none;
	padding: 3px 20px;
	font-size: 22px;
	border: none;
	outline: none;
	background-color: #b52943;
	color: #fff;
	font-family: 'Pacifico', cursive;
}
button:hover {
	cursor: pointer;
}