html {
	width: 100%;
	height: 100%;
}
body {
	text-align: center;
	background-image: url('../img/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	color: #fff;
}
div.cards {
	display: inline-block;
	height: 400px;
	width: 700px;
	margin: 10% auto;
}
div.dealer {
	float: right;
}
div.player {
	float: left;

}
.dealer img{
	margin-top: 100px;
	height: 150px;
	width: 100px;
	padding: 0 5px;
	float: left;
}
.player img {
	margin-top: 100px;
	height: 150px;
	width: 100px;
	padding: 0 5px;
	float: right;
}
div.buttons {
	margin-top: 500px;
}